/*COLORES HEADER/MAIN/FOOTER*/
$titulo:  rgb(213, 236, 232);
$footer:rgb(32, 20, 3) ;
$quienes-somos: rgb(254, 255, 205);
$menu:rgb(156, 198, 179) ;
$links:#5f3a10;


/*TABLET*/
$main:rgb(43, 138, 130);
$linktablet:rgb(80, 20, 20);
$whatsapp:rgb(115, 154, 115);
$facebook:rgb(22, 22, 66);
$instagram:rgb(60, 16, 60);
$bordescomida:rgb(163, 135, 102);
$cite:rgb(136, 136, 136);
$comida1:rgb(182, 182, 223);
$comida2:#dccdbd;